.about-heading, .portfolio-heading {
    margin: 0px;
    padding-top: 10px;
    color: #f0a422;
    font-size: 44px;
    font-weight: 300;
}

.about-container {
    position: relative;
    padding-left: 10px;
    /* background-color: #f2f2f2 */
    /* animation: fadeIn 2s ease-in-out; */
}

.about-container span {
    position: absolute;
    top: 65px;
    width: 140px;
    height: 4px;
    background-color: #f0a422;
    border-radius: 30px;
}

.about-details {
    padding: 0px 6%;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
    transition: color 0.5s;
    line-height: 1.6
}

.about-mySkill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 1px solid; */
    margin: 0px 10%;
    /* padding-bottom: 100px; */
}

.about-mySkill {
  transition: background-color 0.5s, color 0.5s;
}

.about-mySkill-heading {
    text-align: center;
    margin-top: 40px;
    font-size: 34px;
    font-weight: 300;
    color: #f0a422;
}

.about-mySkill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    border-radius: 12px;
    /* cursor: pointer; */
    padding: 0px;
    border: 2px solid transparent;
    transition: border-color 0.5s, 
                box-shadow 0.5s, 
                background-color 0.5s, 
                color 0.5s;
    outline: none; /* Removes default focus outline */
    
}

.about-mySkill:active {
    opacity: transparent;
}

.about-mySkill:hover {
    border-color: #f0a422;
    box-shadow: rgba(90, 70, 47, 0.4) 0px 8px 24px -8px;
}

.about-mySkill p {
    margin-bottom: 0px;
    font-weight: 300;
    font-family: Lexend;
}

.about-experience-Heading {
    text-align: center;
    color: #f0a422;
    font-size: 34px;
    font-weight: 300;
    margin-top: 50px;
}

@media (max-width: 998px) {
    .about-experience-Heading{
        font-size: 20px
    }

    .about-heading, .portfolio-heading {
        font-size: 24px;
    }

    .about-mySkill-heading  {
        font-size: 20px;
        margin-top: 10px;
    }

    .about-container span{
        top: 45px;
        width: 80px;
        height: 2.5px;
     }

     .about-container {
        padding-left: 0px;
     }

     .about-details {
        margin-top: 20px;
        font-size: 14px;
    }

    .about-mySkill-container {
        margin: 0px 5%;
    }

    .about-mySkill {
        width: 100px;
        height: 100px;
    }

    .about-mySkill img {
        width: 60px;
    }

    .about-mySkill p{
        font-size: 14px;
    }
}