.contact-Block {
     width: 100%;
     display: flex;
     justify-content: center;
     margin: 40px 0px;
}

.contact-container {
    position: relative;
    /* padding-left: 10px; */
}

.contact-container span {
    position: absolute;
    top: 65px;
    width: 180px;
    height: 4px;
    left: 12px;
    background-color: #f0a422;
    border-radius: 30px;
}

.contact-Block form {
    border: 2px solid #f0a422;
    width: 50%;
    padding: 30px 30px 10px 30px;
    border-radius: 12px;
}

.contact-block1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contact-block1 div {
    width: 48%;
    display: flex;
    justify-content: center;
    position: relative !important;
    align-items: center;
    border: 2px solid transparent;
    height: 40px;
    border-radius: 6px;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
} 

.contact-block1 input {
    position: absolute;
    width: 94%;
    height: 100%;
    border-radius: 6px;
    z-index: 5;
    padding: 0px 10px !important;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: Lexend;
}

.contact-blockEmail {
    display: flex;
    border-radius: 6px;
    justify-content: center;
    align-items:center;
    position: relative;
    height: 40px;
    margin-top: 24px;
    border: 2px solid transparent;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

.contact-blockMsg textarea{
    width: 100%;
    height: 80%;
    padding: 10px;
    margin: 0px;
    border: none;
    outline: none;
    z-index: 5;
    background-color: transparent;
    font-family: Lexend;
    appearance : none;
    resize: none;
}

.contact-blockEmail input{
    width: 100%;
    height: 50%;
    padding: 10px;
    margin: 0px;
    border-radius: 6px;
    border: none;
    outline: none;
    z-index: 5;
    background-color: transparent;
    font-family: Lexend;
    appearance : none;
    resize: none;
}

.contact-blockMsg {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 24px;
    position: relative;
    border-radius: 6px;
    border: 2px solid transparent;
    height: 100px;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s
}

.contact-blockSubmit {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.contact-blockSubmit input {
    background-color: transparent !important;
    font-family: Lexend;
    border: 2px solid #f0a422;
    padding: 5px 10px;
    border-radius: 6px;
    color: #f0a422;
}

.contact-placeHolder {
    position: absolute;
    font-size: 14px;
    left: 10px;
    padding: 0px 10px;
    z-index: 4;
    transition: transform 0.5s, color 0.5s ;
}

.contact-placeHoldertext {
    position: absolute;
    font-size: 14px;
    left: 12px;
    top: 0px;
    padding: 0px 10px;
    z-index: 4;
    transition: transform 0.5s, color 0.5s ; 
}

.contact-block1 input:focus + .contact-placeHolder,
.contact-block1 input:valid + .contact-placeHolder {
    transform: translate(-20px, -30px) scale(0.88);
}

.contact-blockEmail input:focus + .contact-placeHolder,
.contact-blockEmail input:valid + .contact-placeHolder {
    transform: translate(-20px, -30px) scale(0.88);
}

.contact-blockMsg textarea:focus + .contact-placeHoldertext,
.contact-blockMsg textarea:valid + .contact-placeHoldertext {
    transform: translate(-30px, -34px) scale(0.88);
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: #000 !important; /* Adjust text color 
} */

input:-internal-autofill-selected {
    appearance: none;
    background-image: none !important;
    background-color: transparent !important;
    color: none !important;
}


@media (max-width: 998px) {
    .contact-container span {
        position: absolute;
        top: 45px;
        width: 100px;
        height: 2.5px;
        left: 12px;
    }    

    .contact-block1 {
        flex-direction: column
    }

    .contact-block1 div {
        width: 100%;
    }

    .contact-block1 div:last-child {
        margin-top: 24px;
    }

    .contact-Block form {
        border: 2px solid #f0a422;
        width: 70%;
    }

    .contact-block1 input {
        width: 94%;
    }
}