.home-container {
    animation: fadeIn 0.9s ease-in-out;
    /* border: 1px solid; */
    height: 450px;
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 110px;
    /* position: relative; */
    /* border: 1px solid; */
    /* padding-right: 20px; */
}

.home-ProfilePic {
    position: absolute;
    top: 240px;
    right: 60px;
}

.home-ProfilePic img {
    width: 140px; 
    height: 140px; 
    /* object-fit: cover;  */
    border-radius: 50%;
    /* filter: contrast(140%) brightness(130%); */
}

.home-details p {
    font-size: 24px;
    text-align: start;
    padding: 0px 30px;
    font-weight: 300;
    color: #333333;
    transition: color 0.5s;
}

.home-details-name {
    font-size: 54px;
    color: #f0a422
}

.home-btns {
    /* border: 1px solid; */
    display: flex;
    justify-content: flex-end;
    width: 95%;
    /* padding-right: 30%; */
    animation: fadeInAndSlideUP 0.9s ease-in-out;
}

.home-btns a:first-child {
    border: 2px solid #f0a422;
    background-color: transparent;
    font-family: Lexend;
    padding: 5px 15px;
    font-size: 16px;
    color: #f0a422;
    border-radius: 6px;
    text-decoration: none;
    /* transition: background-color 0.5s, color 0.5s; */
    transition: box-shadow 0.5s;
    -webkit-tap-highlight-color: transparent;
}

/* .home-btns button:first-child:hover {
    background-color: #f0a422;
    color: #333;
} */

.home-btns a:last-child {
    margin-left: 25px;
    background-color: #f0a422;
    font-family: Lexend;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    color: #fff;
    transition: box-shadow 0.5s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
}

/* .home-btns a:focus,
.home-btns a:active {
  /* Ensure no background appears when links are focused or active 
  background-color: transparent;
} */

.home-btns a:last-child:hover,
.home-btns a:first-child:hover {
    /* box-shadow:  #f3ba58 0px 7px 29px 0px; */
    box-shadow: #f0a728 0px 2px 15px;
    /* background-color: transparent; */
}

.home-btns a:last-child:focus,
.home-btns a:last-child:active {
    color: #fff;
}

.home-links {
    position: absolute;
    right: 1.2%;
    top: 370px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeInAndSlideDown 0.9s ease-in-out;
}

.home-links div:first-child {
    width: 4px;
    height: 80px;
    background-color: #f0a728;
    border-radius: 10px;
}

.home-linksIcons {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
   
}

.home-linksIcon {
    font-size: 38px !important;
    transition: color 0.5s !important;
    margin-bottom: 2px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.home-linksIcon:hover,
.home-linksIcon:focus
/* .home-btns a:active { */{
    color: #f0a422 !important;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeInAndSlideUP {
    from {
      opacity: 0;
      transform: translateY(140px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInAndSlideDown {
    from {
      opacity: 0;
      transform: translateY(-140px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@media (max-width: 998px) {

    .home-ProfilePic {
        position: absolute;
        top: 90px;
        right: 50%;
        transform: translateX(50px)
    }
    
    .home-ProfilePic img {
        width: 90px; 
        height: 90px; 
        object-fit: cover; 
        border-radius: 50%;
    }    

    .home-container {
        height: 350px;
        margin-top: 50px;
    }

    .home-details p {
        font-size: 16px;
        padding: 0px 35px 0px 15px;
        margin-right: 6%;
    }
    
    .home-details-name {
        font-size: 34px;
    }

    .home-btns {
        
        /* border: 1px solid; */
    }
    
    .home-btns a:first-child {
        padding: 2px 10px;
        font-size: 14px;
        border: 1.5px solid;
        font-weight: 300;
    }
    
    .home-btns a:last-child {
        margin-left: 15px;
        padding: 2px 10px;
        font-size: 14px;
        margin-right: 5%;
        font-weight: 300;
    }

    .home-links {
        top: 240px;
        right: 14px;
    }
    
    .home-linksIcon {
        font-size: 28px !important;
    }

    .home-links div:first-child {
        width: 3px;
        height: 80px;
        border-radius: 20px;
    }
}