.mainpage-block {
    min-height: 100vh;
    transition: background-color 0.5s;
    padding: 10px 14px;
}

.navbar-block {
    /* margin: 14px; */
    background-color: #f2f2f2;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 12px;
    height: 80px;  
    position: sticky;  
    top: 0px;
    transition: background-color 0.5s;
    /* position: fixed; */
    z-index: 2;
    /* box-shadow: rgba(90, 70, 47, 0.4) 0px 8px 24px -8px; */
}

.navbar-logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 14px;
    /* border: 2px solid #f0a422; */
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8%;
}

.navbar-menuIcons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* width: 300px; */
    padding-right: 8%;
}

.navbar-menuIcons img {
    width: 30px;
    height: 30px;
}

.navbar-menuList-mobile {
    display: none
}

.navbar-menuList {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
}

.navbar-menuList div {
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.2s;
    color: #333333;
}

.navbar-menuList div:hover {
    color: #f0a422;
}

.navbar-logo p {
    color: #f0a422;
    font-size: 20px;
}

.navbar-menuBtn {
    display: none;
}

.navbar-menuList-darkMode div{
    color: #fff;
    transition: color 0.5s;
    font-weight: 300
}

.navbar-menuList-darkMode div:hover {
    color: #f0a422
}

.navbar-menuBtn {
    margin-left: 14px;
}

.menuPage-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.menuPgae-bubbles {
    position: absolute;
    display: flex;
    top:0;
    /* border: 1px solid; */
    max-width: 90%;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    /* z-index: -1; */
}

.menuPage-bubbles.hidden {
    opacity: 0;
  }

/* .menuPgae-bubbles span:nth-child(2) {
    transform: rotate(52deg);
    animation: animate 15s linear infinite
}

.menuPgae-bubbles span:nth-child(1) {
    transform: rotate(90deg);
    animation: animate 15s linear infinite
} */

.menuPgae-bubbles span {
    position: relative;
    width: 0px;
    height: 0px;
    margin: 0 4px;
    /* border-radius: 50%; */
    /* background-color: #fae2b7; */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    /* border-bottom: 20px solid #fae2b7; */
    z-index: 0;
    /* box-shadow: 0 0 0 10px #fae2b744,
        0 0 50px #fae2b7,
        0 0 100px #fae2b7; */
    animation: animate 15s linear infinite;
    animation-duration: calc(140s / var(--i));
    pointer-events: none;
    transition: border-bottom 0.5s;
    /* animation: fadeOut 1s ease-out forwards; Apply the fadeOut animation */
    /* transform: rotate(calc(var(--i) * 1deg)) */
    /* transform: rotate(calc(90deg - var(--i))); */
    /* filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3)); */
    /* box-shadow: 0 0 0 5px #fae2b744; */
}

.menuPgae-bubbles span:nth-child(even) {
    /* border-bottom: 20px solid #f2f2f2; */
    /* box-shadow: 0 0 0 10px #f2f2f244,
        0 0 50px #f2f2f2,
        0 0 100px #f2f2f2; */
}


/* .menuPgae-bubbles span:nth-child(even) {
    border-bottom: 20px solid #f2f2f2; !impotant
    /* box-shadow: 0 0 0 10px #f2f2f244,
        0 0 50px #f2f2f2,
        0 0 100px #f2f2f2; 
} */

.mainPage-scrollBtn {
    animation: fadeIn 2s ease-in-out;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #f0a422;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    top: 560px;
    padding: 0px 7px 0px 14px;
    border-radius: 20px;
    font-weight: 300;
    box-shadow: rgba(90, 70, 47, 0.4) 0px 8px 24px -8px;
    transition: background-color 0.5s, color 0.5s
}

.mainPage-scrollBtn img {
    /* border: 1px solid; */
    border-radius: 50%;
    height: 30px;
    /* margin-left: 5px; */

}

@keyframes animate {
 0% {
    transform: translateY(100vh) scale(0)
 }
 100% {
    transform: translateY(-10vh) scale(1)
 }
}

/* @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  } */

@media (max-width: 998px) {
    .mainpage-block {
        min-height: 440px;
    }

    .navbar-logo p {
        font-size: 14px;
    }

    .navbar-logo span {
        display: block;
    }

    .navbar-menuBtn {
        display: block
    }

    .navbar-menuList {
        display: none;
    }    

    .navbar-menuList-mobile {
        display: flex;
        position: absolute;
        top: 50px;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 0px 0px 6px 6px;
        background-color: #f2f2f2;
        padding-top: 10px; 
        font-size: 14px;
        z-index: 10 !important;
        transition: background-color 0.5s;
        /* box-shadow: #5a462f 0px 8px 24px; */
        box-shadow: rgba(90, 70, 47, 0.4) 0px 8px 24px -8px;
    }

    .navbar-menuList-mobile div {
        padding-left: 14px;
        transition: color 0.2s;
    }

    .navbar-menuList-mobile div:hover {
        color: #f0a422
    }

    .navbar-block {
        grid-template-columns: 1fr 1fr;
        border-radius: 6px;
        height: 60px;
    }

    .navbar-menuList-mobile {

    }

    .mainPage-scrollBtn {
        height: 28px;
        top: 420px;
        border-radius: 20px;
        font-size: 14px;
    }

    .mainPage-scrollBtn img { 
        height: 24px;
    }
    
}