.navbar-block {
    margin: 14px;
    background-color: #f2f2f2;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 12px;
    height: 80px;  
    position: sticky;  
    top: 0px
}

.navbar-logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 14px;
    /* border: 2px solid #f0a422; */
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8%;
}

.navbar-menuIcons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* width: 300px; */
    padding-right: 8%;
}

.navbar-menuIcons img {
    width: 30px;
    height: 30px;
}

.navbar-menuList-mobile {
    display: none
}

.navbar-menuList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menuList div {
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.2s;
}

.navbar-menuList div:hover {
    color: #f0a422;
}

.navbar-logo p {
    color: #f0a422;
    font-size: 20px;
}

.navbar-menuBtn {
    display: none;
}


@media (max-width: 998px) {

    .navbar-logo p {
        font-size: 14px;
    }

    .navbar-logo span {
        display: block;
    }

    .navbar-menuBtn {
        display: block
    }

    .navbar-menuList {
        display: none;
    }    

    .navbar-menuList-mobile {
        display: flex;
        position: absolute;
        top: 70px;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 0px 0px 6px 6px;
        background-color: #f2f2f2;
        padding-top: 10px; 
    }

    .navbar-menuList-mobile div {
        padding-left: 14px
    }

    .navbar-block {
        grid-template-columns: 1fr 1fr;
        border-radius: 6px;
    }

    .navbar-menuList-mobile {

    }
}